/* Background pattern: bg-pattern-one */
html.bg-pattern-one {
  --s: 126px; /* control the size*/
  --c1: #e7525b;
  --c2: #78dbf0;
  --_g: 80%,var(--c1) 25.4%,#0000 26%;
  background:
   radial-gradient(at 80% var(--_g)),
   radial-gradient(at 20% var(--_g)),
   conic-gradient(from -45deg at 50% 41%,var(--c1) 90deg,var(--c2) 0)
      calc(var(--s)/2) 0;
  background-size: var(--s) var(--s);
}

/* Background pattern: bg-pattern-two (different look) */
html.bg-pattern-two {
  --s: 140px; /* control the size*/
  --c1: #170409;
  --c2: #67917a;
  --_g: #0000 52%,var(--c1) 54% 57%,#0000 59%;
  background:
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--c2);
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}

/* Utility: allow html pattern to show through when body is transparent */
html.bg-pattern-one, html.bg-pattern-two {
  background-repeat: repeat;
}
